<!-- begin breadcrumbs -->
<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link" itemprop="url">
				<span class="breadcrumbs__title" itemprop="title">Главная</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link" itemprop="url">
				<span class="breadcrumbs__title" itemprop="title">Ткани</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link" itemprop="url">
				<span class="breadcrumbs__title" itemprop="title">Атлас</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__title" itemprop="title">Дюпон</span>
		</li>
	</ul>
</div>
<!-- end breadcrumbs -->