{
    "compact": false,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 3 versions"]
                },
                "modules": false
            }
        ]
    ],
    "ignore": ["node_modules"]
}
