# http://EditorConfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 88
charset = utf-8

[*.sass]
indent_style = tab
indent_size = 4

[{*.html, *.nj, *.pug, *.sss}]
indent_style = tab
