{# Description no longer than 155 characters #}

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="copyright" content="(c)">

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ twitter_summary }}">
<meta name="twitter:site" content="{{ twitter_publisher }}">
<meta name="twitter:title" content="{{ twitter_title }}">
<meta name="twitter:description" content="{{ twitter_description }}">
<meta name="twitter:creator" content="{{ twitter_author }}">
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="{{ twitter_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:site_name" content="{{ og_sitename }}">
<meta property="fb:admins" content="{{ fb_admins }}">

<meta name="theme-color" content="#FFCC01">
<meta name="msapplication-navbutton-color" content="#FFCC01">
<meta name="apple-mobile-web-app-status-bar-style" content="#FFCC01">

<link rel="shortcut icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="shortcut icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon.ico" sizes="16x16">
<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">

<meta name="application-name" content="">
<meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
<meta name="msapplication-TileColor" content="#FFCC01">
