{% import "assets/_mixins.html" as mixin %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />

	<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>

	{% include "assets/_meta-tags.html" %}
	{% include "assets/_favicon.html" %}

	<link rel="stylesheet" media="all" href="css/app.css">
</head>
<body itemscope itemtype="http://schema.org/WebPage">

	<div class="wrapper">
		<div class="wrapper__in">
			{% include "widgets/_header.html" %}
			{% block content %}{% endblock %}
		</div>
		{% include "widgets/_footer.html" %}
	</div>

	<!-- begin windows -->
	<div class="windows">
		{% include "widgets/_modals.html" %}
	</div>
	<!-- end windows -->

	<!-- begin scripts -->
	<script type="text/javascript" src="js/app.js"></script>
	<!-- end scripts -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(55421374, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/55421374" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

</body>
</html>

