{% import "partials/assets/_mixins.html" as mixin %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>

	<meta name="description" content="У нас вы можете купить Windows 10 Pro OEM или Windows 10 Home OEM со скидкой - 75%. Колличество ключей ограничено." />
	<meta name="keywords" content="Windows 10, Pro, OEM, key, 64bit, 32bit, ключ, ключи, купить, windows 10 pro oem купить, windows 10 pro купить, купить ключ windows 10 pro, купить windows 10 64 bit pro лицензия, купить windows 10 32 bit pro лицензия"/>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="application-name" content="win-x-oem.ru - Купить Windows 10 Pro дешево с большими скидками">
	<meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
	<meta name="msapplication-TileColor" content="#FFCC01">

	<meta name="theme-color" content="#FFCC01">
	<meta name="msapplication-navbutton-color" content="#FFCC01">
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFCC01">

	<link rel="shortcut icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="shortcut icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" sizes="16x16">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon.png">

	<!-- {#{% include "../partials/_media-tags.html" %}#} -->

	<link rel="stylesheet" media="all" href="css/app.css">
</head>
<body>

	<div class="wrapper">
		<div class="wrapper__in">
			{% include "partials/_header.html" %}
			{% block content %}{% endblock %}
		</div>
		{% include "partials/_footer.html" %}
	</div>

	<!-- begin windows -->
	<div class="windows">
		{% include "partials/_popup.html" %}
	</div>
	<!-- end windows -->
	<!-- begin scripts -->
	<script type="text/javascript" src="js/app.js"></script>
	<!-- end scripts -->

	<script data-skip-moving="true">
		(function(w,d,u){
			var s=d.createElement('script');s.async=1;s.src=u+'?'+(Date.now()/60000|0);
			var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
		})(window,document,'https://cdn.bitrix24.ru/b5911999/crm/site_button/loader_1_u50lh2.js');
	</script>

	<!-- begin Yandex.Metrika  --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47820397 = new Ya.Metrika({ id:47820397, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47820397" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- end Yandex.Metrika  -->
	<!-- begin Google Analitics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122305845-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'GA_TRACKING_ID');
	</script><!-- end Google Analitics -->

</body>
</html>

