<!-- begin footer -->
<footer
	itemscope
	itemtype="http://schema.org/WPFooter"
	class="footer bg--dark"
>
    <div class="footer__top">
        <div class="container">
            <div class="s-title">
                <h2 class="s-title__title">Остались вопросы?</h2>
                <p class="s-title__desc">
                    Оставте заявку или зайдайте Ваш вопрос и наш менеджер
                    ответит Вам в течении 15 мин.
                </p>
            </div>

            <form class="form-order footer__form">
                <!-- Hidden Required Fields -->
                <input name="project_name" type="hidden" value="win-x-oem.ru" />
                <input
                    name="admin_email"
                    type="hidden"
                    value="a.a.ustinoff@ya.ru"
                />
                <input
                    class="admin-data"
                    name="form_subject"
                    type="hidden"
                    value="Вопросы"
                />
                <!-- END Hidden Required Fields -->

                <div class="form-order__success form-success form-success--big">
                    Ваш вопрос отправлен. В ближайшее время наши менеджеры Вам
                    ответят.
                </div>

                <div class="form-order__inner">
                    <div class="input__wrap">
                        <label class="input js-input">
                            <input
                                name="Имя"
                                type="text"
                                placeholder="Ваше имя"
                                required
                            />
                        </label>
                        <label class="input js-input">
                            <input
                                name="email"
                                type="email"
                                placeholder="Ваш e-mail"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                required
                            />
                        </label>
                    </div>
                </div>
                <textarea class="form-order__textarea" name="Вопрос"></textarea>
                <div class="form-order__buttons">
					<button
						class="form-order__btn button button_gr"
						type="submit"
						onclick="yaCounter55421374.reachGoal('click_order_bottom'); return true;"
					>
						<span class="button__inner">Задать вопрос</span>
					</button>
                    <div class="footer__policy policy">
                        Нажимая кнопку "Задать вопрос" Вы атоматически даете
                        согласие на <a
                            data-fancybox
                            href="#privacy"
                            target="_blank"
                            >обработку персональных данных</a
                        >.
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="copyright">Win-X-Oem.ru &copy; 2017-2019</div>
            <div class="footer-for-users">
                <a data-fancybox href="#privacy">Политика конфиденциалности</a>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
