<!-- begin header -->
<header
	itemscope
	itemtype="http://schema.org/WPHeader"
	class="header"
>
	<div class="container">
		<div class="header__inner">
			<div
				itemscope
				itemprop="logo"
				itemtype="http://schema.org/Organization"
				class="logo header__logo"
			>
				<sup>win</sup>x<sub>oem</sub>
			</div>

			<!-- begin contact -->
			<div class="header__callback callback">
				<a
					itemprop="telephone"
					href="tel:+79378032888"
					class="callback__link"
					onclick="yaCounter55421374.reachGoal('click_on_callback'); return true;"
				>
					{{mixin.icon('phone')}}
					+7 (937) 80-32-888
				</a>
				<a
					class="callback__text"
					href="#order"
					data-fancybox
					data-form="Заказ обратного звонка"
					data-title="Заказать звонок"
				>перезвонить Вам ?</a>
			</div>
			<!-- end contact -->

			<!-- begin header__ofer -->
			<div class="header__offer">
				<div class="offer">
					<div class="offer__inner">

						<h1 class="offer__title" itemprop="headline">У нас вы можете купить <br>оригинальные ключи для

						</h1>

						<div class="offer__desc">
							<span>
								<strong>Windows 10 Pro Oem - 2899</strong>
								{{ mixin.currency() }}
							</span>
							<span>
								<strong>Windows 10 Home Oem - 2099</strong>
								{{ mixin.currency() }}
							</span>
						</div>

						<a href="#order" class="button js-liquid-btn offer__button"
						 data-fancybox
						 data-form="Заказ"
						 data-title="Заказать"
						 onclick="yaCounter55421374.reachGoal('click_order_top'); return true;"
						 >
							<span class="button__inner">Купить</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end header__ofer -->
	</div>
</header>
<!-- end header -->
