<!-- begin privacy -->
<div class="privacy" id="privacy">
    <h3 class="privacy__title">Политика конфиденциальности</h3>

    <span class="privacy__subtitle">Сбор информации</span>

    <div class="privacy__part">
        <div>
            При подаче заявки на сайте <strong>win-x-oem.ru</strong> клиенты
            предоставляют следующие сведения:
        </div>
        <div>Имя (обязательно)</div>
        <div>Контактный E-mail (обязательно)</div>
        <div>Контактный Телефон (обязательно)</div>
        <div>
            Также администрация сайта получает данные об IP-адресе посетителей,
            а также о типе браузера, времени нахождения на сайте и прочие
            подобные сведения. Сбор ведётся с помощью сервисов статистики.
        </div>
    </div>

    <span class="privacy__subtitle">Использование информации</span>

    <div class="privacy__part">
        Вся полученная информация используется администрацией сайта
        <strong>win-x-oem.ru</strong> исключительно в целях связи с клиентом.
        Администрация сайта <strong>win-x-oem.ru</strong> имеет право направлять
        клиенту информационные сообщения (новостную рассылку), если он
        подписался на них.
    </div>

    <span class="privacy__subtitle">Защита персональных данных</span>

    <div class="privacy__part">
        Сайт <strong>win-x-oem.ru</strong> обязуется не разглашать сведения,
        полученные от клиентов. Она хранится в базе данных на локальном
        компьютере администрации сайта <strong>win-x-oem.ru</strong>. Доступ к
        компьютеру надёжно защищён паролем, который имеется только у
        администратора сайта.
    </div>

    <span class="privacy__subtitle">Предоставление данных третьим лицам</span>

    <div class="privacy__part">
        <span
            >Полученные сведения не могут быть переданы третьим лицам, за
            исключением следующих случаев:</span
        >
        <ul>
            <li>
                Для исполнения обязательств перед клиентом – только с его
                разрешения.
            </li>
            <li>
                В соответствии с обоснованными и применимыми требованиями
                закона.
            </li>
        </ul>
    </div>

    <span class="privacy__subtitle"
        >По всем вопросам вы можете обращаться к администрации сайта.</span
    >

    <div class="privacy__part">
        <div>Телефон: +7 (927) 107-11-39</div>
        <div>E-mail: winx.oem@yandex.ru</div>
    </div>

    <div>
        Настоящая редакция политики конфиденциальности опубликована 8 марта 2018
        года.
    </div>
</div>
<!-- end privacy -->
