.arrow-long {
  width: 6.23em;
  height: 1em;
  fill: ;
}
.cart {
  width: 1em;
  height: 1em;
  fill: ;
}
.close--bold {
  width: 1em;
  height: 1em;
  fill: ;
}
.close {
  width: 1em;
  height: 1em;
  fill: ;
}
.dialog-baloon {
  width: 1em;
  height: 1em;
  fill: ;
}
.favorite {
  width: 1.14em;
  height: 1em;
  fill: ;
}
.filter-btn {
  width: 1.33em;
  height: 1em;
  fill: ;
}
.like {
  width: 1em;
  height: 1em;
  fill: ;
}
.location {
  width: 1em;
  height: 1em;
  fill: ;
}
.map-pin {
  width: 0.72em;
  height: 1em;
  fill: ;
}
.minus-bold {
  width: 1em;
  height: 1em;
  fill: ;
}
.pay-method {
  width: 6.38em;
  height: 1em;
  fill: ;
}
.pay-qiwi {
  width: 2.36em;
  height: 1em;
  fill: ;
}
.pay-sber {
  width: 2.36em;
  height: 1em;
  fill: ;
}
.pay-tinkoff {
  width: 3.06em;
  height: 1em;
  fill: ;
}
.pay-yandex {
  width: 2.36em;
  height: 1em;
  fill: ;
}
.phone {
  width: 1em;
  height: 1em;
  fill: ;
}
.plus--bold {
  width: 1em;
  height: 1em;
  fill: ;
}
.plus-bold {
  width: 1em;
  height: 1em;
  fill: ;
}
.plus {
  width: 1em;
  height: 1em;
  fill: ;
}
.rating--gray {
  width: 5.26em;
  height: 1em;
  fill: ;
}
.rating {
  width: 5.26em;
  height: 1em;
  fill: ;
}
.search {
  width: 1em;
  height: 1em;
  fill: ;
}
.telegram {
  width: 1em;
  height: 1em;
  fill: ;
}
.user-women {
  width: 0.72em;
  height: 1em;
  fill: ;
}
.user {
  width: 1em;
  height: 1em;
  fill: ;
}
