$icons: (0:0)
$icons: map-merge($icons,('close-dark': (X: 0px, Y:0px, W: 128px, H: 128px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('close-white': (X: -138px, Y:0px, W: 128px, H: 128px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -34px, Y:-212px, W: 10px, H: 19px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -74px, Y:-138px, W: 20px, H: 38px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram': (X: -104px, Y:-138px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram_hover': (X: 0px, Y:-212px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('play-btn': (X: 0px, Y:-138px, W: 64px, H: 64px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vk': (X: -206px, Y:-138px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vk_hover': (X: -240px, Y:-138px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('youtube': (X: -138px, Y:-138px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('youtube_hover': (X: -172px, Y:-138px, W: 24px, H: 24px, TW: 266px, TH: 236px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-close-dark
//  width: 128px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-close-white
//  width: 128px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: -138px 0px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -34px -212px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -74px -138px
//
//.icon-instagram
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -104px -138px
//
//.icon-instagram_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -212px
//
//.icon-play-btn
//  width: 64px
//  height: 64px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -138px
//
//.icon-vk
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -206px -138px
//
//.icon-vk_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -240px -138px
//
//.icon-youtube
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -138px -138px
//
//.icon-youtube_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -172px -138px
//