.icon-areligion {
  width: 0.83em;
  height: 1em;
  fill: #020202;
}
.icon-bm {
  width: 1.18em;
  height: 1em;
  fill: #070707;
}
.icon-close-dark {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-close-white {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-mail-success {
  width: 0.79em;
  height: 1em;
  fill: #fff;
}
.icon-play-btn {
  width: 1em;
  height: 1em;
  fill: #faa606;
}
.icon-skolkovo {
  width: 1.22em;
  height: 1em;
  fill: #050505;
}
