$icons: (0:0)
$icons: map-merge($icons,('arrow-long': (X: -320px, Y:-276px, W: 125px, H: 20px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow-long@2x': (X: 0px, Y:-320px, W: 250px, H: 40px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('call': (X: -160px, Y:-160px, W: 150px, H: 150px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('close-dark': (X: -320px, Y:0px, W: 128px, H: 128px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('close-white': (X: -320px, Y:-138px, W: 128px, H: 128px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('consultation': (X: -160px, Y:0px, W: 150px, H: 150px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -308px, Y:-370px, W: 10px, H: 19px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -74px, Y:-370px, W: 20px, H: 38px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram': (X: -172px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('instagram_hover': (X: -274px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pay': (X: 0px, Y:-160px, W: 150px, H: 150px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('play-btn': (X: 0px, Y:-370px, W: 64px, H: 64px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rating--gray': (X: -260px, Y:-320px, W: 70px, H: 14px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rating': (X: -340px, Y:-320px, W: 70px, H: 14px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('send': (X: 0px, Y:0px, W: 150px, H: 150px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vk': (X: -206px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vk_hover': (X: -240px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('youtube': (X: -104px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('youtube_hover': (X: -138px, Y:-370px, W: 24px, H: 24px, TW: 448px, TH: 434px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-arrow-long
//  width: 125px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -320px -276px
//
//.icon-arrow-long@2x
//  width: 250px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -320px
//
//.icon-call
//  width: 150px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: -160px -160px
//
//.icon-close-dark
//  width: 128px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: -320px 0px
//
//.icon-close-white
//  width: 128px
//  height: 128px
//  background-image: url('../img/sprite.png')
//  background-position: -320px -138px
//
//.icon-consultation
//  width: 150px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: -160px 0px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -308px -370px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -74px -370px
//
//.icon-instagram
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -172px -370px
//
//.icon-instagram_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -274px -370px
//
//.icon-pay
//  width: 150px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -160px
//
//.icon-play-btn
//  width: 64px
//  height: 64px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -370px
//
//.icon-rating--gray
//  width: 70px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -260px -320px
//
//.icon-rating
//  width: 70px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -340px -320px
//
//.icon-send
//  width: 150px
//  height: 150px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-vk
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -206px -370px
//
//.icon-vk_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -240px -370px
//
//.icon-youtube
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -104px -370px
//
//.icon-youtube_hover
//  width: 24px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -138px -370px
//