//Variables

// Font variables
$base-font-value: 16

@function rem($x)
	@return ($x / $base-font-value)+rem

//FONT
$f          : opsans-400, sans-serif
$f-i        : opsans-400i, sans-serif
$f-light    : opsans-300, sans-serif
$f-light-i  : opsans-300i, sans-serif
$f-bold     : opsans-600, sans-serif
$f-bold-i   : opsans-600i, sans-serif
$f-ex-bold  : opsans-800, sans-serif
$f-ex-bold-i: opsans-800i, sans-serif
$f-num      : oswald-400, sans-serif
$f-neo-r    : neo-400, sans-serif
$f-neo-b    : neo-600, sans-serif

$base-font-size  : 16px
$base-font-family: $f
$base-line-height: 1.5

//Heading
$h1: rem($base-font-value + 24) //40
$h2: rem($base-font-value + 18) //34
$h3: rem($base-font-value + 12) //28
$h4: rem($base-font-value + 6)  //22
$h5: rem($base-font-value + 2)  //18

$font-size-accent: rem($base-font-value + 2)
$font-size-note: rem($base-font-value - 2)

//Отступы
$base-indent   : 30px
$half-indent   : $base-indent / 2
$section-indent: 70px

//Colors
$color-main              : #036dc1
$color-main--light       : #00bbf2
$color-secondary--dark   : #7919dd
$color-secondary         : #9614db
$color-secondary--light  : #c40cd8

//Color Bg
$color-bg--dark    : #232323

//Color text
$color-text--light: #989898